{% extends 'kei_store/base.html' %} 
{% block content %}
    <div class="wrapper">
    {% include 'kei_store/header.html' %}
        <section class="main no-padding">
            <div class="account-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <!-- User avatar -->
                            <div class="profile_avatar">
                                <img src="/assets/img/general/user.png" alt="avatar" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <div class="profile_summary">
                                <!-- User name --> 
                                <h3 class="profile_name">{{user.username|title}}</h3>
                                <!-- User status -->
                                <!-- <p>Hello.. I'am a frontend developer.</p> -->
                                <!-- Contact -->
                            </div> 
                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        {% include 'kei_store/akun_sidebar.html' %}
                    </div>
                    <div class="col-md-9 col-sm-9">
                        {% block account_main_content %}
                        {% endblock account_main_content %}
                    </div>  
                </div>
            </div>
        </section>
         <div class="footer">
            <div class="container">
            <ul class="pull-left footer-menu">
                <li>
                    <a href="index.html"> Home </a>
                    <a href="about.html"> Tentang kami </a>
                    <a href="kontak.html"> Kontak kami </a>
                </li>
            </ul>
            <ul class="pull-right footer-menu">
                <li> &copy; 2015 Dlapak </li>
            </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });
    </script>
{% endblock %}