{% extends 'kei_store/akun_base.html' %} 
{% load int_to_rupiah int_to_quantity int_to_kilogram %}
{% block account_main_content %}
    {% include "shopping_cart/setHeight.html" %}
    <div class="panel panel-default">
        <div class="panel-heading">            
            {% if not cart.get_items_in_cart %}
                <h4 class="panel-title" style="font-size:20px; text-align: center;">Tidak ada produk dalam keranjang <br>
                <a href="{% url 'storefront:product_all' %}">Kembali ke toko</a></h4></div>
            <!-- ====================================================================================================================================== --> 

            {% else %}
                <h4 class="panel-title" style="font-size:20px">Produk dalam keranjang</h4>
            {% endif %}
        </div>
        {% if cart.get_items_in_cart %}
        <div class="panel-body">  
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Detail</th>
                        <th>Banyaknya</th>
                        <th>Subtotal</th>
                        <th>Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %}
                    <tr>
                        <td style="max-width: 80px"><img class="photo-user=" onLoad="setHeight(this)" src="{{ item.product.get_photo_url }}"></td>
                        <td style="max-width: 220px">
                            <div class="item-title"><a href="{{ item.product.get_detail_url }}"><strong>{{ item.product.name | title | truncatechars:70}}</strong></a></div>
                            <div class="item-meta">
                                <ul>
                                    <li class="item-type"> Harga Satuan : {{ item.product.price| int_to_rupiah }}</li>
                                    <li class="item-type"> Berat Satuan : {{ item.product.unit_weight | int_to_kilogram }}</li>
                                </ul>
                            </div>
                        </td>
                        <td  style="max-width: 150px; padding-top: 15px">
                            <form method="POST" id='updateItem'>
                                {% csrf_token %}
                                <div class="col-xs-8" style="padding: 0">
                                    <input class="input-text" oninput="limit(this)" style="width: 100%; margin: 0" type="number" name="quantity" value="{{ item.quantity}}">                                  
                                </div>
                                <div class="col-xs-4" style="padding-right: 10px">
                                    <button style="width: auto" class="btn btn-sm btn-primary" type="submit"><span class="fa fa-edit"> </span></button>  
                                </div>
                                <input type="hidden" name="method" value="update">
                                <input type="hidden" name="item" value="item_{{item.pk}}">
                            </form>
                        </td>
                        <td>
                            <p style="margin-top: 5px">
                                {{ item.get_item_details.subtotal | int_to_rupiah }}
                                <br>
                                <br>
                                {{ item.get_item_details.total_weight | int_to_kilogram }}
                            </p>
                        </td>
                        <td  style="max-width: 60px">
                            <form method="POST" id='deleteItem'>
                                {% csrf_token %}
                                <input type="hidden" name="method" value="remove">
                                <input type="hidden" name="item" value="item_{{item.pk}}">
                                <button style="width: auto; margin-top: 7px" class="btn btn-sm btn-danger" type="submit"><span class="fa fa-trash"></span></button>
                            </form>
                        </td>
                    </tr>    
                    {% endfor %} 
                </tbody>
            </table>      
            {% include "shopping_cart/pagination.html" %}  
            <div class="row" style="margin: 0">
                <div class="col-xs-12 col-lg-12" style="padding:0">
                    <div class="col-xs-3 col-md-6">
                    </div>
                    <div class="col-xs-9 col-md-6" style="padding:0">
                        <h4 class="title">Total Belanja</h4>
                        <div class="row" style="margin: 0; border-bottom: 1px solid #aaa">
                            <div class="col-xs-5">
                                <h6>Total Pembelian</h6> 
                            </div>
                            <div class="col-xs-7">
                                <h6>
                                    <strong>: {{ cart.get_total_price | int_to_rupiah }}</strong>
                                </h6>        
                            </div>
                        </div>
                        <div class="row" style="margin: 0; border-bottom: 1px solid #aaa">
                            <div class="col-xs-5">
                                <h6>Discount Member</h6> 
                            </div>
                            <div class="col-xs-7">
                                <h6>
                                    <strong>: {{ discount | int_to_rupiah }}</strong>
                                </h6>        
                            </div>
                        </div>
                        <div class="row" style="margin: 0; border-bottom: 1px solid #aaa">
                            <div class="col-xs-5">
                                <h6>Jumlah Bayar</h6> 
                            </div>
                            <div class="col-xs-7">
                                <h6 style="font-size: 115%">
                                    <strong>: {{ discounted_price | int_to_rupiah }}</strong>
                                </h6>        
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0 0 0;">
                            <p onclick="prepareCheckout();"
                            class="btn btn-primary" style="margin:auto; width: 100%">Lanjutkan Pembayaran</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <p style="font-size: 8pt" class="panel-title" >Belanja Lagi?
                    <a href="{% url 'storefront:product_all' %}">Kembali ke toko</a></p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
<script>
    function prepareCheckout(){
        window.open("{% url 'order:prepare' %}","_self")
    }
    function limit(ins){
        if (ins.value<0){
            ins.value=0
        }
    }
</script>
{% endblock %}