{% extends 'kei_store/base.html' %} 
{% load int_to_rupiah int_to_kilogram %}
{% block content %}
<div class="wrapper">
    {% include 'kei_store/header.html' %}
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb pull-left">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="kategori.html">kategori</a></li>
                        <li>Detail Product</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="post">
                                <!-- <div class="post-price">
                                    {{product.price|int_to_rupiah}}
                                </div> -->
                                <div class="post-title">
                                    <h2>{{product.name|title}}</h2>
                                </div>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> {{product.date_created|date:"M d,Y"}}</li>
                                        <li><i class="fa fa-map-marker"></i> <a href="kategori.html">
                                        {{product.get_location}}</a></li>
                                        <li><i class="fa fa-bookmark"></i> {{product.get_condition}}</li>
                                    </ul>
                                </div>
                                <img alt="" src="{{product.get_photo_url}}" 
                                width="100%" height="auto"/>
                                <div class="post-body">
                                    <h4><strong>Deskripsi</strong></h4>
                                    <p>
                                        {{product.description}}
                                    </p>
                                    <h4><strong>Harga</strong></h4>
                                    <p>
                                        {{product.price|int_to_rupiah}}
                                    </p>
                                    <h4><strong>Berat</strong></h4>
                                    <p>
                                        {{product.unit_weight|int_to_kilogram}}
                                    </p>

                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12" style="border-top:1px #aaa dotted;">
                                      <h4 class="title" style="text-align:left">Simulasi Total Pembelian</h4>
                                      <div class="row">
                                        <div class="col-xs-6">
                                          <p style="text-align:left;">
                                            Jumlah Bayar : <br>
                                            <span id="jumlahBayar" style="font-size: 150%">{{ product.price | int_to_rupiah }}</span>
                                          </p>
                                          <p style="text-align:left;">
                                            Jumlah Berat : <br>
                                            <span id="jumlahBerat" style="font-size: 150%">{{ product.unit_weight | int_to_kilogram }}</span>
                                          </p>
                                        </div>
                                        <div class="col-xs-6">
                                            {% if product.is_available %}
                                            <p class="hidden" id="productPrice">{{ product.price }}</p>
                                            <p class="hidden" id="productWeight">{{ product.unit_weight }}</p>
                                            <form class="form" method="POST" id="formQuantity">
                                              {% if form.errors %}
                                                  {% for field in form %}
                                                      {% for error in field.errors %}
                                                          <div class="alert alert-danger">
                                                              <strong>{{ error|escape }}</strong>
                                                          </div>
                                                      {% endfor %}
                                                  {% endfor %}
                                                  {% for error in form.non_field_errors %}
                                                      <div class="alert alert-danger">
                                                          <strong>{{ error|escape }}</strong>
                                                      </div>
                                                  {% endfor %}
                                              {% endif %}
                                              {% csrf_token %}
                                                <input type="hidden" name="method" value="cart">
                                                <div>
                                                    <p style="margin: 0">Banyaknya :</p>
                                                    {{ form.quantity }}
                                                </div>  
                                            <div class="add-to-box" style="margin-top:8px">
                                            <button style="margin:0" type="submit" form="formQuantity" class="btn btn-block btn-custom">
                                                <span class="fa fa-shopping-cart"></span>
                                            &nbsp;&nbsp;Beli</button>
                                            </div>
                                            {% else %}
                                                <p class="title hot">--Stok Kosong--</p>
                                            {% endif %} 
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Toko</h3>
                        </div>
                        <div class="widget-body text-center">
                            
                            {% if product.store.photo %} 
                            <img alt="avatar"
                            src="{{product.store.get_photo_url}}"
                            class="seller-avatar img-responsive"
                            >
                            {% else %}
                            <img alt="avatar"
                            src="/assets/img/general/user.png"
                            class="seller-avatar img-responsive"
                            >
                            {% endif %}
                            <h4 class="seller-name">{{product.store.name|title}}</h4>
                            <p>Lokasi: <strong>{{product.get_location}}</strong><br/>
                                Bergabung Sejak : <strong>{{product.store.owner.date_joined | date:"M d, Y"}}</strong></p>
                        </div>
                        <!-- <div class="widget-footer">
                            <div class="row">
                                <div class="col-sm-6">    
                                    <button class="btn btn-info btn-block"><i class="fa fa-whatsapp"></i> 0823 4223 4234</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-warning btn-block" data-target="#sendMessageModal" data-toggle="modal"><i class="fa fa-envelope"></i> Send Message</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Browse by kategori</h3>
                        </div>
                        <div class="widget-body">
                            <ul class="trends">
                                {% for category in categories %}
                                <li><a href="{{category.get_url}}">{{category.name | title}} &nbsp;<span class="item-numbers">({{category.products_in_category.all.count}})</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>Product lainnya dari {{product.store.name | title}}</h2>
                    </div>
                </div>
                {% for other in other_product %}
                <div class="col-md-3">
                    <div class="item-ads-grid">
                        <div class="item-img-grid">
                            <img alt="" src="{{other.get_photo_url}}" class="img-responsive img-center">
                        </div>
                        <div class="item-title">
                            <a href="{{other.get_detail_url}}"><h4>{{other.name|title}}</h4></a>
                        </div>
                        <div class="item-meta">
                            <ul>
                                <li class="item-date"><i class="fa fa-clock-o"></i> {{other.date_created | date:"M d, Y"}}</li>\
                                <li class="item-location"><a href="kategori.html"><i class="fa fa-map-marker"></i> {{other.get_location}}</a></li>
                                <li class="item-type"><i class="fa fa-bookmark"></i> {{other.get_condition}}</li>
                            </ul>
                        </div>
                        <div class="product-footer">
                            <div class="item-price-grid pull-left">
                                <h3>{{other.price | int_to_rupiah}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'kei_store/footer.html' %}
</div>

<!-- Send Message Modal -->
<div aria-labelledby="sendMessageModalLabel" role="dialog" tabindex="-1" id="sendMessageModal" class="modal fade in">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">x</span></button>
                <h4 id="sendMessageModalLabel" class="modal-title">Send Message to Seller</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Name:</label>
                        <input type="text" class="form-control input-lg" placeholder="Your name" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email:</label>
                        <input type="email" class="form-control input-lg" placeholder="Your email" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="message-text">Message:</label>
                        <textarea id="message-text" class="form-control input-lg" placeholder="Your message" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-custom" type="button"><i class="fa fa-paper-plane"></i> Send</button>
            </div>
        </div>
    </div>
</div>
  <script>
    function quantityChange(){
      quantity = $('#id_quantity').val();
      if(quantity >= 0){
        harga = $('#productPrice').text();
        berat = $('#productWeight').text();
        jumlahBayar = quantity*harga;
        jumlahBerat = quantity*berat;
  
        $('#jumlahBayar').text('Rp.'+jumlahBayar.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")+',-');
        if(jumlahBerat<1000){
          $('#jumlahBerat').text(''+jumlahBerat+' gram');
        } else {
          $('#jumlahBerat').text(''+jumlahBerat/1000+'kg');
        }
      } else {
        $('#id_quantity').val(0)
      }
    }
  </script>
{% endblock %}