<!-- Essentials -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/owl-carousel/owl.carousel.js"></script>
<script src="/assets/plugins/counter/jquery.countTo.js"></script>
<script defer src="/assets/plugins/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // ===============Flexslider=====================
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails",
            directionNav: false,
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });

        // ==========tooltip initial=================
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        // ===========Featured Owl Carousel============
        if ($(".owl-carousel-featured").length > 0) {
            $(".owl-carousel-featured").owlCarousel({
                items: 3,
                lazyLoad: true,
                pagination: true,
                autoPlay: 5000,
                stopOnHover: true
            });
        }

        // ==================Counter====================
        $('.item-count').countTo({
            formatter: function (value, options) {
                return value.toFixed(options.decimals);
            },
            onUpdate: function (value) {
                console.debug(this);
            },
            onComplete: function (value) {
                console.debug(this);
            }
        });
    });
</script>

<script>
function getKota(id){
    var selected_provinsi='';
    if(id == 'id_provinsi'){
        var myselect = document.getElementById("id_provinsi");
        var kota = document.getElementById('id_kota');
    } 
    else{
        var myselect = document.getElementById("id_provinsi_home");
        var kota = document.getElementById('id_kota_home');
    }
    selected_provinsi=myselect.options[myselect.selectedIndex].text;
    $.ajaxSetup({
    headers : {
        'CSRFToken' : "{{token}}",
    }
    });
    $.ajax({url: '/wilayah/kota/'+ selected_provinsi +'/', success: function(result){
    var options = '';
    options += "<option value='0'>--pilih kota--</option>";
    for(i=0; i<result['results'].length; i++){
        options += "<option value='"+result['results'][i]['value']+"'>"+result['results'][i]['nama']+"</option>";
        console.log(result['results'][i]['nama']);
    }
    kota.innerHTML=options;
    }});
}
</script>