<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5 class="title">Informasi</h5>
                        <ul style="text-align: left;">
                            <li><a href="#">Tentang Kami</a></li>
                            <li><a href="#">Pengiriman dan Retur</a></li>
                            <li><a href="#">Kontak</a></li>
                            <li><a href="#">Testimoni</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5 class="title">Customer Service</h5>
                        <ul style="text-align: left;">
                            <li><a href="#">Bantuan dan FAQ</a></li>
                            <li><a href="#">Syarat dan Ketentuan</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                            <li><a href="#">Partner</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5 class="title">Penjual</h5>
                        <ul style="text-align: left;">
                            <li><a href="#">Cara Berjualan</a></li>
                            <li><a href="#">Keuntungan Berjualan</a></li>
                            <li><a href="#">Tips Berjualan</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5 class="title">Pembeli</h5>
                        <ul style="text-align: left;">
                            <li><a href="#">Cara Berbelanja</a></li>
                            <li><a href="#">Pembayaran</a></li>
                            <li><a href="#">Jaminan Aman</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <h5 class="title">Berlangganan</h5>
                <p>Informasi & berita terupdate akan dikirim ke email kamu</p>
                <div class="input-group">
                    <input type="email" placeholder="your.email@address.com !" class="form-control"> 
                    <span class="input-group-btn">
                        <button class="btn btn-custom btn-block form-control">Subscribe</button>
                    </span>
                </div>
                <h5 class="title">Stay Connected</h5>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-social"><a href="#"><span class="fa fa-facebook"></a></span></div>
                        <div class="btn-social"><a href="#"><span class="fa fa-twitter"></a></span></div>
                        <div class="btn-social"><a href="#"><span class="fa fa-youtube-play"></a></span></div>
                        <div class="btn-social"><a href="#"><span class="fa fa-linkedin"></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-footer">
    <p>&#169; Copyright 2019 PT.TOKO BUTUH SELAMANYA</p>
</div>