{% load int_to_rupiah int_to_kilogram int_to_quantity %}
<header class="navbar navbar-default navbar-fixed-top navbar-top" style="background-color: #f39303">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand" style="padding: 0"><img src="/assets/img/logo.png"
                style="display: inline; margin-right: 5px; width: 250px; height: auto;"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'storefront:product_all' %}">Store</a></li>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'membership:register' %}">Daftar</a></li>
                <li class="new-ads">
                    <a href="{% url 'cart:index' %}" style="min-width: 0; padding: 5px; padding-left: 15px"><span style="font-size: 20px; color:#444" class="fa fa-shopping-cart">
                   {% if cart.get_total_products > 0 %}
                        <span style="min-width:8px;
                        position: absolute;
                        top: 6px;
                        right: 5px;
                        min-height: 8px;  
                        padding: 6px;
                        border-radius: 25px; 
                        color:#fff;
                        background-color: #ff4545;"></span>
                    {% endif %}
                    </span> 
                    </a>
                </li>
                <li class="new-ads">
                    <a href="{% url 'cart:wishlist_index' %}" style="min-width: 0; padding: 5px; padding-left: 15px"><span style="font-size: 20px; color:#444" class="fa fa-heart">
                   {% if wishlist.get_total_products > 0 %}
                        <span style="min-width:8px;
                        position: absolute;
                        top: 6px;
                        right: 5px;
                        min-height: 8px;  
                        padding: 6px;
                        border-radius: 25px; 
                        color:#fff;
                        background-color: #ff4545;"></span>
                    {% endif %}
                    </span> 
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span style="font-size: 20px; color:#444" class="fa fa-user"> <strong class="caret"></strong>&nbsp;</a>
                    <div class="dropdown-menu dropdown-login" style="padding:15px;min-width:250px">
                        <form action="{% url 'membership:login' %}" method="post">                       
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon addon-login"><i class="fa fa-user"></i></span>
                                    <input type="text" name="username" id="id_username" placeholder="Masukan Username" required="required" class="form-control input-login">                                            
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon addon-login"><i class="addon fa fa-lock"></i></span>
                                    <input type="password" name="password" id="id_password" placeholder="Password" required="required" class="form-control input-login">                                            
                                </div>
                            </div>
                            <a href="lupa.html" class="btn-block text-center">Lupa password?</a>
                            <input type="submit" class="btn btn-custom btn-block" value="Masuk">
                        </form>                                    
                    </div>
                </li>
                {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="font-size: 26px"><span class="fa fa-user"></span></a>
                    <ul class="dropdown-menu">
                        {% if not user.store %}
                        <li>
                            <a href="{% url 'storefront:create_new_store' %}">
                                <button type="submit" class="btn btn-block btn-success">
                                    Buat Toko
                                </button>
                            </a>
                        </li>
                        {% else %}
                        <li><a href="{{request.user.store.get_url}}">Toko Saya</a></li>
                        {% endif %}
                        <li><a href="{% url 'membership:profile' %}">Profil Saya</a></li>
                        <li><a href="{% url 'membership:logout' %}">Keluar</a></li>
                    </ul>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</header>