{% extends 'kei_store/base.html' %} 
{% load int_to_rupiah %}
{% block content %}
{% include "shopping_cart/setHeight.html" %}
<div class="wrapper">
    {% include 'kei_store/header.html' %}
    <section class="hero" style="position: relative;">
        <div class="text-center" style="width:100%; position: absolute; bottom: 20px">
<!--             <h2 class="hero-title">Find an Awesome Things Here</h2>
            <p class="hero-description hidden-xs">Find all things you need on DLapak. We give you a simple way.</p> -->
            <div class="row hero-search-box">
                <form>
                    <div class="col-md-4 col-sm-4 search-input">
                        <input type="text" class="form-control input-lg search-first" placeholder="Mau Cari Apa ?">
                    </div>
                    <div class="col-md-4 col-sm-4 search-input">
                        <select class="form-control input-lg search-second">
                            <option selected="">Semua Lokasi</option>
                            <option>Jabodetabek</option>
                            <option>Jawa Barat</option>
                            <option>Jawa Tengah</option>
                            <option>Jawa Timur</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 search-input">
                        <button class="btn btn-custom btn-block btn-lg"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <div class="shortcut">
                                <a href="{{hlinks.1.addr}}"><img src="/assets/img/mobil.png" style="width: 100%; max-width: 60px; height: auto;></a>
                                <a href="{{hlinks.1.addr}}"><h3>Mobil</h3></a>
                                <span class="total-items">234,567</span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="shortcut">
                                <a href="{{hlinks.2.addr}}"><img src="/assets/img/motor.png" style="width: 100%; max-width: 60px; height: auto;></a>
                                <a href="{{hlinks.2.addr}}"><h3>Motor</h3></a>
                                <span class="total-items">25,366</span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="shortcut">
                                <a href="{{hlinks.3.addr}}"><img src="/assets/img/rumah.png" style="width: 100%; max-width: 60px; height: auto;"></a>
                                <a href="{{hlinks.3.addr}}"><h3>Properti</h3></a>
                                <span class="total-items">252,546</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-xs-4 col-sm-4">
                            <div class="shortcut">
                                <a href="{{hlinks.4.addr}}"><img src="/assets/img/emas.png" style="width: 100%; max-width: 60px; height: auto;"></a>
                                <a href="{{hlinks.4.addr}}"><h3>Emas</h3></a>
                                <span class="total-items">52,546</span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="shortcut">
                                <a href="{{hlinks.5.addr}}"><img src="/assets/img/tanah.png" style="width: 100%; max-width: 60px; height: auto;"></i></a>
                                <a href="{{hlinks.5.addr}}"><h3>Tanah</h3></a>
                                <span class="total-items">215,546</span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header">
                                <h2>Featured</h2>
                            </div>
                            <div id="featured-products">
                                {% for product in products %}
                                {% if forloop.counter == 1 or forloop.counter == 4 or forloop.counter == 7 or forloop.counter == 10 %}
                                <div class="row">
                                {% endif %}
                                <div class="col-sm-4">
                                    <div class="item-ads-grid">
                                        <div class="item-img-grid">
                                            <img onLoad="setHeight(this)"" src="{{product.get_photo_url}}" class="img-responsive img-center">
                                        </div>
                                        <div class="item-title">
                                            <a href="{{product.get_detail_url}}"><h4>{{product.name|title}}</h4></a>
                                        </div>
                                        <div class="item-meta">
                                            <ul>
                                                <li class="item-date"><i class="fa fa-clock-o"></i> {{product.date_created | date:"M d, Y"}}</li>
                                                <li class="item-location"><i class="fa fa-map-marker"></i> {{product.get_location}}</li>
                                                <li class="item-type"><i class="fa fa-bookmark"></i> {{product.get_condition}}</li>
                                            </ul>
                                        </div>
                                        <div class="product-footer">
                                            <div class="item-price-grid pull-left">
                                                <h3>{{product.price | int_to_rupiah}}</h3>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                                {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 12 or forloop.last %}
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Daftar Gratis</h3>
                        </div>
                        <div class="widget-body">
                            <form action="{% url 'membership:register' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{form.username}}
                                </div>
                                <div class="form-group">
                                    {{form.email}}
                                </div>
                                <div class="form-group">
                                    {{form.password}}
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label class="string optional" for="terms">
                                            <input type="checkbox" id="terms" style="">
                                            <span style="font-size:8pt">Saya setuju dengan <a href="#">
                                                syarat dan ketentuan </a> TokoButuh.com
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-custom">Daftar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Paling Laris</h3>
                        </div>
                        <div class="widget-body">
                            <ul class="trends">
                                {% for category in categories %}
                                <li><a href="{{category.get_url}}">{{category.name | title}} &nbsp;<span class="item-numbers">({{category.products_in_category.all.count}})</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="banner-widget">
                        <img src="http://placehold.it/600x275" alt="banner" class="img-responsive">
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="item-counter">
                        <span class="item-icon"><i class="fa fa-database"></i></span>
                        <div data-refresh-interval="100" data-speed="3000" data-to="7803" data-from="0" class="item-count">400</div>
                        <span class="item-info">Barang</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-counter">
                        <span class="item-icon"><i class="fa fa-user-plus"></i></span>
                        <div data-refresh-interval="50" data-speed="5000" data-to="427" data-from="0" class="item-count">200</div>
                        <span class="item-info">UMKM</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-counter">
                        <span class="item-icon"><i class="fa fa-map-marker"></i></span>
                        <div data-refresh-interval="80" data-speed="5000" data-to="639" data-from="0" class="item-count">32</div>
                        <span class="item-info">Lokasi</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item-counter">
                        <span class="item-icon"><i class="fa fa-users"></i></span>
                        <div data-refresh-interval="80" data-speed="5000" data-to="1548" data-from="0" class="item-count">1000</div>
                        <span class="item-info">Member</span>
                    </div>
                </div>
            </div>
        </div> <!-- / .counter -->
    </div>
    <div class="top-footer">
        <p>Butuh bantuan? Kontak kami di <strong>(002) 58474546</strong> - Email kami di: info@tokobutuh.com</p>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 top-footer-box">
                    <img src="/assets/img/icon/truck.svg" width="60pxs" height="auto">
                    <h5 class="title">Metode Pengiriman</h5>
                    <p>TokoButuh.com menyediakan berbagai pilihan jasa pengiriman dengan jangkauan nasional</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 top-footer-box">
                    <img src="/assets/img/icon/protected.svg" width="60pxs" height="auto">
                    <h5 class="title">Jaminan Keamanan 100%</h5>
                    <p>TokoButuh.com menjamin keamanan uang Anda dalam bertransaksi. <a href="#">Pelajari selengkapnya</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 top-footer-box">
                    <img src="/assets/img/icon/delivery.svg" width="60pxs" height="auto">
                    <h5 class="title">Kenyamanan Berbelanja</h5>
                    <p>Dapatkan keuntungan seperti akses ke komunitas TokoButuh.com serta tips dan trik berjualan online</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 top-footer-box">
                    <img src="/assets/img/icon/24-phone.svg" width="60pxs" height="auto">
                    <h5 class="title">24/7 Service Center</h5>
                    <p>Customer Support TokoButuh.com siap membantu Anda melalui email, media sosial, dan call center</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'kei_store/footer.html' %}
</div>
{% endblock %}