{% extends 'kei_store/base.html' %} 
{% load int_to_rupiah %}
{% block content %}
{% include "shopping_cart/setHeight.html" %}
<div class="wrapper">
    {% include 'kei_store/header.html' %}
    <div class="category-search">
        <div class="container">
            <div class="row category-search-box">
                <form>
                    <div class="col-md-3 col-sm-3  cat-search-input">
                        <select class="form-control">
                            <option>All Category</option>
                            <option selected>Hand Phone</option>
                            <option>Motorcycle</option>
                            <option>Properti</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3  cat-search-input">
                        <select class="form-control">
                            <option selected="">All Location</option>
                            <option>New York</option>
                            <option>Washington</option>
                            <option>California</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3  cat-search-input">
                        <input type="text" class="form-control" placeholder="I want to find...">
                    </div>
                    <div class="col-md-3 col-sm-3  cat-search-input">
                        <button class="btn btn-custom btn-block"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="category-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="category.html">Category</a></li>
                        <li>Detail Product</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Browse by Category</h3>
                        </div>
                        <div class="widget-body">
                            <ul class="trends">
                                {% for category in categories %}
                                <li><a href="{{category.get_url}}">{{category.name | title}} &nbsp;<span class="item-numbers">({{category.products_in_category.all.count}})</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <<!-- div class="widget">
                        <div class="widget-header">
                            <h3>Browse by Brand</h3>
                        </div>
                        <div class="widget-body">
                            <ul class="brands">
                                <li><label><input type="checkbox"> Apple</label></li>
                                <li><label><input type="checkbox"> Asus</label></li>
                                <li><label><input type="checkbox"> Acer</label></li>
                                <li><label><input type="checkbox"> Nexus</label></li>
                                <li><label><input type="checkbox"> Nokia</label></li>
                                <li><label><input type="checkbox"> Lenovo</label></li>
                                <li><label><input type="checkbox"> Samsung</label></li>
                            </ul>
                        </div>  
                    </div> -->
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="category-header no-margin-bottom">
                        <div class="row">
                            <div class="col-md-4  cat-search-input">
                                <select class="form-control">
                                    <option>Sort</option>
                                    <option>Newest</option>
                                    <option selected="">Lowest Price</option>
                                    <option>Highest Price</option>
                                </select>
                            </div>
                            <div class="col-md-4  cat-search-input">
                                <select class="form-control">
                                    <option>All Type</option>
                                    <option>New</option>
                                    <option selected="">Used</option>
                                </select>
                            </div>
                            <div class="col-md-4 text-right  cat-search-input">
                                <div class="view-type">
                                    <a href="kategori.html"  data-toggle="tooltip" data-placement="top" title="List"><i class="fa fa-th-list"></i></a>
                                    <a href="kategori-grid.html"  data-toggle="tooltip" data-placement="top" title="Grid"><i class="fa fa-th"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="search-results-box">
                        <div class="row">
                            <div class="col-md-12 search-results">
                                Keyword : <span>"Lenovo Thinkpad"</span>  Results : <span>23.452</span> items
                            </div>
                        </div>
                    </div> -->
                    <div class="list-results">
                        <div class="row">
                            <div class="col-sm-12">
                                {% for product in products %}
                                <div class="item-ads">
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-3">
                                            <div class="item-img">
                                                <img onLoad="setHeight(this)" style="width: 100%; height: auto;" src="{{product.get_photo_url}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <div class="item-title">
                                                <a href="{{product.get_detail_url}}"><h4>{{product.name|title}}</h4></a>
                                            </div>
                                            <div class="item-meta">
                                                <ul>
                                                    <li class="item-date"><i class="fa fa-clock-o"></i> {{product.date_created | date:"M d, Y"}}</li>
                                                    <li class="item-location hidden-xs"><a href="kategori.html"><i class="fa fa-map-marker"></i> {{product.get_location}}</a></li>

                                                    <li class="item-type"><i class="fa fa-bookmark"></i> {{product.get_condition}}</li>
                                                </ul>
                                                <p>
                                                    {{product.description | truncatechars:200}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-3">
                                            <div class="item-price">
                                                <h6>{{product.price | int_to_rupiah}}</h6>
                                                <button onclick="window.open('{{product.get_detail_url}}', '_parent')" class="btn btn-block btn-sm btn-custom">
                                                    Beli
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                        {% include 'shopping_cart/pagination.html' %}
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    {% include 'kei_store/footer.html' %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}