{% extends 'kei_store/akun_base_form.html' %} 

{% block panel_title %}
<h4 class="panel-title">Toko Saya</h4>
{% endblock %}
{% block additional_form %}
<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
	<div class="col-sm-6">
	    <h6>Provinsi</h6>
		{{form.provinsi}}
	</div>
	<div class="col-sm-6">
	    <div class="form-group">
	        <h6>Kota</h6>
			<select class="form-control" name="kota" style="width:100%;" id="id_kota">
			  <option value="..."> </option>
			</select>
		</div>
	</div>
</div>
{% endblock %}