<!doctype html>
<html>
<head>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicons Icon -->
<link rel="icon" href="#" type="image/x-icon" />
<link rel="shortcut icon" href="#" type="image/x-icon" />
<title>Kei Partner</title>
<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS Style -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/css/simple-line-icons.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/static/css/owl.theme.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile-menu.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/css/revslider.css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;subset=latin-ext" rel="stylesheet">
<style type="text/css">
	#toTop{
		display: none !important;
	}
	.add-icon:before,
	.phone-icon:before, 
	.email-icon:before {
		color:#fff;
	    border: 1px solid #456c4d;
	    background: #456c4d;
	}
	.features-block a {
	    font-weight: 400;
	}
	.mega-menu-title h3 {
	    font-weight: 400;
	}
</style>
</head>
<body class="cms-index-index cms-home-page" style="background: #fff">
<div id="page">
  <header style="background-color:#147D08; min-height: 50px">
    <div class="container" style="width:100%; padding: 0">
      <div class="row" style="margin:0">
        <div class="col-lg-4">
          <div class="row" style="margin:0">
            <div class="col-lg-2" style="
                    padding: 0;
                    padding-top: 15px;
                "></div>
            <div class="col-lg-6" style="
                  padding: 0;
                  padding-top: 15px;
              ">
              <img src="/media/ic-csw.png" style="
                        width: 22px;
                        height:auto;
                        ">
              <span  style="color:#fff">0811 2233 4455</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4" style="position:relative">
          <a style="color:#fff" href="/">
          <img src="/media/main-logo1.png" 
              style="width:90%; 
                    height:auto;
                    position: absolute;
                    z-index: 1000;
                    top:0">
          </a>
        </div>
        <div class="col-lg-4" style="padding:0">
            <div class="row" style="margin:0">
              <div class="col-lg-2" style="
                    padding: 0;
                    padding-top: 15px;
                ">
                {% if not request.user.is_authenticated %}
                <a style="color:#fff" href="{% url 'membership:login' %}">
                  <img src="/media/ic-logw.png" style="
                            width: 13px;
                            height:auto;
                            ">
                  <span>Masuk</span></a>
                {% endif %}
                </div>
              <div class="col-lg-2" style="
                      padding: 0;
                      padding-top: 15px;
                  ">
                {% if not request.user.is_authenticated %}
                <a style="color:#fff" href="{% url 'membership:pre_register' %}">
                <img src="/media/ic-userw.png" style="
                          width: 15px;
                          height:auto;
                          ">
                <span>Daftar</span></a>
                {% else %}
                <a style="color:#fff" href="{% url 'membership:logout' %}">
                  <img src="/media/ic-logw.png" style="
                            width: 13px;
                            height:auto;
                            ">
                  <span>Keluar</span></a>
                {% endif %}
              </div>
              <div class="col-lg-5" style="
                      padding: 0;
                      padding-top: 15px;
                  ">
                <a style="color:#fff" href="{% url 'membership:pre_register' %}">
                <img src="/media/ic-keyw.png" style="
                          width: 17px;
                          height:auto;
                          ">
                <span>Lupa Password</span></a></div>
              <div class="col-lg-3" t="" style="
                      background: #f7540f;
                      padding-bottom:15px;
                      text-align: center;
                      ">
                <a style="color:#fff" href="{% url 'cart:index' %}">
                <img src="/media/ic-cartww.png" style="width:24px;
                          margin-top: 15px; 
                          height:auto;"></div>
                </a>
            </div>
          </div>
      </div>
    </div>
  </header>

  <!-- Header -->
  <header>
    <div class="header-container"  style="border:none; margin-top:8px">
    {% comment %}
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 logo-block"> 
          <!-- Header Logo -->
          <div class="logo" style="margin-top: 43px"> <a title="Qualis" href="/"><img alt="Qualis" src="/media/KeiPartnerLogo.png"> </a> </div>
          <!-- End Header Logo --> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs category-search-form">
			<div class="contact-row">
                <div class="phone inline">
                    <i class="fa fa-phone"></i> (+800) 123 456 7890
                </div>
                <div class="contact inline">
                    <i class="fa fa-envelope"></i><a href="mailto:contact@kei-partner.com"><span class="le-color">contact@oursupport.com</span></a>
                </div>
            </div>
          <div class="search-box" style="overflow: hidden; border: 1px solid #cecece">
            <form id="search_mini_form" action="#" method="get" style="margin-bottom:0"> 
              <!-- Autocomplete End code -->
              <input id="search" type="text" name="q" value="Cari produk apa..." class="searchbox" maxlength="128">
              <button style="background-color: #cecece" type="submit" title="Search" class="search-btn-bg" id="submit-button"><span style="color:#444" class="fa fa-search"></span></button>
            </form>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 card_wishlist_area" style="padding: 10px 0"> 
          <div class="mm-toggle-wrap" style="position:relative; z-index:2000">
            <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
          </div>
          {% if cart.get_total_items_in_cart > 0 %}
          {% include "shopping_cart/cart_header.html" with cart=cart %} 
          {% endif %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs card_wishlist_area" style="padding: 10px 0">
        {% if request.user.is_authenticated %}
          <div class="row">
            <div class="col-xs-12" style="text-align:right">
              <div style="
              background-image: url('{% if request.user.member.profile_photo %}{{ request.user.member.get_profile_photo_url }}{% else %}/media/pictures/user.gif{% endif %}');
              display: inline-block;
              border-radius: 50%;
              border: 1px solid #aaa;
              padding: 5px;
              height: 50px;
              width: 50px;
              background-size: cover;;
              "></div>
            </div>
            <div class="col-xs-12" style="padding: 0 5px; text-align: right">
                <p style="margin: 0;">
                    <a href="{% url 'membership:profile' %}"><strong>{{ request.user.username | title }}</strong></a><br>
                {{ request.user.member.get_member_type_display | title }}<br>
                <a href="{% url 'membership:logout' %}">Logout</a></p>
            </div>
          </div>
        {% else %}
        {% endif %}
        </div>
      </div>
    </div>
    {% endcomment %}
    <nav class="hidden-xs" style="height:auto;background: #fff; margin-top: 0">
      <div class="nav-container">
        <div class="row">
          <div class="col-lg-5">
            <div class="row">
              <div class="col-lg-4" style="padding:8px 15px; text-align: center">
                <p onclick="window.open('{{hlinks.1.addr}}', '_parent')" style="cursor:pointer;color:#147D08;margin:0">{{hlinks.1.name | title}}</p>
              </div>
              <div class="col-lg-4" style="border-left:1px solid #aaa;
                border-right:1px solid #aaa;padding:8px 15px; text-align: center">
                <p onclick="window.open('{{hlinks.2.addr}}', '_parent')" style="cursor:pointer;color:#147D08;margin:0">{{hlinks.2.name | title}}</p>
              </div>
              <div class="col-lg-4" style="padding:8px 15px; text-align: center">
                <p onclick="window.open('{{hlinks.3.addr}}', '_parent')" style="cursor:pointer;color:#147D08;margin:0">{{hlinks.3.name | title}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
          </div>
          <div class="col-lg-5">
            <div class="row">
              <div class="col-lg-4" style="padding:8px 15px; text-align: center">
                  <p onclick="window.open('{{hlinks.4.addr}}', '_parent')" style="cursor:pointer;color:#147D08;margin:0">{{hlinks.4.name | title}}</p>
              </div>
              <div class="col-lg-4" style="border-left:1px solid #aaa;
                padding:8px 15px; text-align: center">
                  <p onclick="window.open('{{hlinks.5.addr}}', '_parent')" style="cursor:pointer;color:#147D08;margin:0">{{hlinks.5.name | title}}</p>
              </div>
              <div class="col-lg-4" style="padding:4px 0px; text-align: center">
                <div style="background: #ddd; padding: 5px; border-radius: 10px">
                    <input style="font-style:italic; width:100px; background: transparent; border: none" type="text" placeholder="search this site">
                    <span style="margin:0 4px" class="fa fa-search"></span>
                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% block local_script %}
  {% endblock local_script %}
  
  <div class="container" style="margin:55px auto;">
    <div class="row">
      <div class="col-lg-12">
          {% block content %}
          {% endblock content %}
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="footer" style="background: #333">
    <div class="footer-top" style="border-top:1px #bdbdbd solid; background: #fff; padding: 0 0 10px 0">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div style="padding:10px 0 0 0; text-align:center"> 
              <img src="/media/pictures/bank1.png" style="width:280px; height:auto" alt=""> 
              <img src="/media/pictures/bank2.png" style="width:280px; height:auto" alt=""> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle" style="background:#777; padding: 20px 0">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
              <div class="contacts-info">
                  <ul class="links">
                    {% for link in flinks %}
                        {% if link.is_left %}
                          {% if link.page %}
                            <li><a style="color:#fff" href="{{link.page.get_url}}" title="How to buy">{{link.page.title | title}}</a></li>
                          {% else %}
                            <li><a style="color:#fff" href="{{link.addr}}" title="How to buy">{{link.name | title}}</a></li>
                          {% endif %}
                        {% endif %}
                    {% endfor %}
                  </ul>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="contacts-info">
                  <ul class="links">
                    {% for link in flinks %}
                        {% if not link.is_left %}
                          {% if link.page %}
                            <li><a style="color:#fff" href="{{link.page.get_url}}" title="How to buy">{{link.page.title | title}}</a></li>
                          {% else %}
                            <li><a style="color:#fff" href="{{link.addr}}" title="How to buy">{{link.name | title}}</a></li>
                          {% endif %}
                        {% endif %}
                    {% endfor %}
                  </ul>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contacts-info">
                  <div class="social" style="text-align:center; width: 100%">
                    <ul style="width:100%">
                      <li class="fb"><a href="#"></a></li>
                      <li class="tw"><a href="#"></a></li>
                      <li class="googleplus"><a href="#"></a></li>
                      <li class="youtube"><a href="#"></a></li>
                      <li class="linkedin"><a href="#"></a></li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-2">
            <div class="row">
                <div class="col-lg-12" style="padding:0">
                  <p style="width:100%; text-align:center; color:#fff; font-size:9pt">Trusted Courier Services</p>
                </div>
                <div class="col-lg-6" style="padding:0; text-align: center">
                  <img src="/media/pictures/jne.png" style="width:65%;height:auto;">
                </div>
                <div class="col-lg-6" style="padding:0; text-align: center">
                  <img src="/media/pictures/pos.png" style="width:65%;height:auto;">
                </div>
                <div class="col-lg-6" style="padding:0; text-align: center">
                  <img src="/media/pictures/dhl.png" style="width:65%;height:auto;">
                </div>
                <div class="col-lg-6" style="padding:0; text-align: center">
                  <img src="/media/pictures/usp.png" style="width:65%;height:auto;">
                </div>
            </div>
          </div>
          <div class="col-lg-2" style="padding:0;">
              <div style="width:100%; padding: 0 15px; text-align:center">
                <img src="/media/KeiPartnerLogo.png" style="width:60%;height:auto;">
                <p style="color: #fff; font-size:7pt">Available In Android &amp; iOS</p>
              </div>
              <div style="width:100%; padding:2px 15px; text-align:center">
                <img src="/media/pictures/plays.png" style="width:60%;height:auto;">
              </div>
              <div style="width:100%; padding:2px 15px; text-align:center">
                <img src="/media/pictures/apps.png" style="width:60%;height:auto;">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top" style="border-top:1px #bdbdbd solid; padding: 0 0 10px 0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12 coppyright"> 
            <p style="color:#fff">&copy; PT KEI DISTRIBUSI INDONESIA | 2018</p>
        	</div>
        </div>
      </div>
    </div>
    
  </footer>
  <!-- End Footer --> 
</div>

<!-- mobile menu -->
<div id="mobile-menu">
  <ul>
    <li>
      <div class="mm-search">
        <form id="search1" name="search">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
            </div>
            <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
          </div>
        </form>
      </div>
    </li>
    <li> <a href="index.html">Home</a></li>
    <li><a href="{% url 'storefront:product_all' %}">Store</a> </li>
    <li><a href="{% url 'cart:wishlist_index' %}">Wishlist</a> </li>
    <li><a href="{% url 'cart:index' %}">Checkout</a> </li>
    <li><a href="http://keskeiindonesia.com"><span>Blog</span></a> </li>
  </ul>
  {% if request.user.is_authenticated %}
  <div class="top-links">
    <ul class="links">
      <li><a title="Blog" href="{% url 'membership:profile' %}"><span>Profil</span></a> </li>
      <li><a href="{% url 'order:history' %}">My Order</a> </li>
      <li><a href="{% url 'order:history' %}">My Selling</a> </li>
      <li><a href="{% url 'order:history' %}">My Reward</a> </li>
      <li><a href="{% url 'order:history' %}">My Poin</a> </li>
      <li><a href="{% url 'order:history' %}">My Costumer</a> </li>
      <li><a href="{% url 'order:history' %}">My Ebook</a> </li>
      <li><a href="{% url 'order:history' %}">Tracking</a> </li>
    </ul>
  </div>
  {% endif %}
  {% if request.user.is_authenticated %}
  <div style="width:100%; padding:5px 15px">
      <a class="btn btn-danger btn-sm" style="width:100%" href="{% url 'membership:logout' %}"><span>Keluar</span></a>
  </div>
  {% else %}
  <div style="width:100%; padding:5px 15px">
    <a class="btn btn-primary btn-sm" style="width:100%" href="{% url 'membership:login' %}"><span>Masuk / Daftar</span></a>
  </div>
  {% endif %}
</div>
<!-- JavaScript -->

<div id="snackbar">Some text some message..</div>
<style>

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 10000; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 10%; /* 30px from the top */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 10%; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 10%; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 10%; opacity: 1;}
  to {top: 0; opacity: 0;}
}
.photo-user{
  -webkit-filter: brightness(92%) contrast(102%) saturate(1.3155);
  filter: brightness(92%) contrast(102%) saturate(1.3155);
  margin:10px 0px;
  width:100%;
  min-height:185px;
  max-height:185px;
  background-color:#fff;
  background-size:auto 100%;
  overflow:hidden;
  object-fit:cover;
  -webkit-animation: blur 1.41s ease;
  animation: blur 1.41s ease;
}
.photo-user{
  min-height:210px;
  max-height:210px;
  margin:0px
}
.avatars{
  -webkit-animation: zoom 0.71s ease;
  animation: zoom 0.71s ease;
}
.avatar{
  -webkit-filter: brightness(92%) contrast(102%) saturate(1.315);
  filter: brightness(92%) contrast(102%) saturate(1.315);
  padding:0;
  min-height:0px;
  margin:0px 0;
  width:60px;
  height:60px;
  border-radius:30px
}
@media (max-width: 767px) {
  .avatar{
    margin:3px 0;
    width:80px;
    min-height:0;
    height:80px;
    border-radius:40px
  }
}
.white{
  color:#fff
}

.effect7{
  background-color: #ffffff;
  box-shadow:0 0 4px rgba(85,85,85, 0.241);
}
.effect7:hover{
  background-color: #ffffff;
  box-shadow:0 0 12px rgba(85,85,85, 0.241);
}
.hot{
  color:#f44
}
select{
  color:#333
}
</style>
<script src="/static/javascript/jquery-3.2.1.min.js"></script> 
<script src="/static/javascript/bootstrap.min.js"></script>
<script src="/static/javascript/jquery-3.2.1.min.js"></script> 
<script src="/static/javascript/bootstrap.min.js"></script>  
<script src="/static/javascript/revslider.js"></script> 
<script src="/static/javascript/common.js"></script> 
<script src="/static/javascript/owl.carousel.min.js"></script> 
<script src="/static/javascript/jquery.mobile-menu.min.js"></script> 
<script src="/static/javascript/countdown.js"></script> 
<script src="/static/javascript/custom.js"></script>
<script src="/static/javascript/jquery.flexslider.js"></script> 
<script src="/static/javascript/cloud-zoom.js"></script>
</body>
</html>
