
<script>
function getKota(id){
    var selected_provinsi='';
    if(id == 'id_provinsi'){
        var myselect = document.getElementById("id_provinsi");
        var kota = document.getElementById('id_kota');
    } 
    else{
        var myselect = document.getElementById("id_provinsi_home");
        var kota = document.getElementById('id_kota_home');
    }
    selected_provinsi=myselect.options[myselect.selectedIndex].text;
    $.ajaxSetup({
    headers : {
        'CSRFToken' : "{% csrf_token %}",
    }
    });
    $.ajax({url: '/wilayah/kota/'+ selected_provinsi +'/', success: function(result){
    var options = '';
    options += "<option value='0'>--pilih kota--</option>";
    for(i=0; i<result['results'].length; i++){
        options += "<option value='"+result['results'][i]['value']+"'>"+result['results'][i]['nama']+"</option>";
        console.log(result['results'][i]['nama']);
    }
    kota.innerHTML=options;
    }});
}
</script>
<script>
function getKecamatan(id){
    var selected_kota='';
    if(id == 'id_kota'){
        var myselect = document.getElementById("id_kota");
        var kecamatan = document.getElementById('id_kecamatan');
    }
    else{
        var myselect = document.getElementById("id_kota_home");
        var kecamatan = document.getElementById('id_kecamatan_home');
    }
    selected_kota=myselect.options[myselect.selectedIndex].value;
    $.ajaxSetup({
    headers : {
        'CSRFToken' : "{% csrf_token %}",
    }
    });
    $.ajax({url: '/wilayah/kecamatan/'+ selected_kota +'/', success: function(result){
    var options = '';
    options += "<option value='0'>--pilih kecamatan--</option>";
    for(i=0; i<result['results'].length; i++){
        options += "<option value='"+result['results'][i]['value']+"'>"+result['results'][i]['nama']+"</option>";
        console.log(result['results'][i]['nama']);
    }
    kecamatan.innerHTML=options;
    }});
}
</script>
<script>
function getKelurahan(id){
    var selected_kecamatan='';
    if(id == 'id_kecamatan'){
        var myselect = document.getElementById("id_kecamatan");
        var kelurahan = document.getElementById('id_kelurahan');
    }
    else{
        var myselect = document.getElementById("id_kecamatan_home");
        var kelurahan = document.getElementById('id_kelurahan_home');
    }
    selected_kecamatan=myselect.options[myselect.selectedIndex].value;
    $.ajaxSetup({
    headers : {
        'CSRFToken' : "{% csrf_token %}",
    }
    });
    $.ajax({url: '/wilayah/kelurahan/'+ selected_kecamatan +'/', success: function(result){
    var options = '';
    options += "<option value='0'>--pilih kelurahan--</option>";
    for(i=0; i<result['results'].length; i++){
        options += "<option value='"+result['results'][i]['value']+"'>"+result['results'][i]['nama']+"</option>";
        console.log(result['results'][i]['nama']);
    }
    kelurahan.innerHTML=options;
    }});
}
</script>
      