<div class="container container-header">
<div class="row" style="display: flex; justify-content: center; min-height: 110px;">
    <div class="col-xs-12 col-lg-2" style="padding:0 5px; display: flex; align-items: center; justify-content: flex-start">
    <a href="https://www.keiskeiindonesia.com"><img src="/media/pictures/logo.png" width="150" height="auto"></a>
    </div>
    <div class="col-xs-12 col-lg-10" style="padding:0 5px; display: flex; align-items: center; justify-content: flex-end">
    {% include "membership/member_header.html" %}
    </div>
</div>
</div>
