
<div style="width: 100%; margin-bottom:5px; display:block; height: 20px">
    {% if products.has_other_pages %}
    <div class="row" style="text-align: center; margin: 0">
        <ul class="pagination">
        {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}">&lt;&lt; Prev</a></li>
        {% else %}
            <li class="disabled"><a href="#">&lt;&lt; Prev</a></li>
        {% endif %}
        {% if not products.number == 1 %}
            <li><a href="?page=1">First</a></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="active"><a href="#">{{ i }}</a></li>
            {% elif i < max_page and i > min_page %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% elif i == min_page or i == max_page %} 
            <li class="disabled"><a href="#">...</a></li>
            {% endif %}
        {% endfor %}
        {% if not products.number == products.paginator.num_pages %}
            <li><a href="?page={{products.paginator.count}}">Last</a></li>
        {% endif %}
        {% if products.has_next %}
            <li><a href="?page={{ products.next_page_number }}">Next &gt;&gt;</a></li>
        {% else %}
            <li class="disabled"><a href="#">Next &gt;&gt;</a></li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
</div>